<form role="form">
  <div class="form-group">
    <label for="name">车辆ID</label>
    <select class="form-control">
      <option>车1</option>
      <option>车2</option>
      <option>车3</option>
      <option>车4</option>
      <option>车5</option>
    </select>
 
  </div>
  <div class="form-group">
    <label for="name">文本框</label>
    <textarea class="form-control" rows="3"  placeholder="在此处输入车评信息"></textarea>
  </div>
<div class="form-group" align="center">
    <div class="col-sm-offset-1 col-sm-10" >
      <button type="submit" class="btn btn-default">添加</button>
    </div>
  </div>
</form>