<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-search">
				<input class="input-medium search-query" type="text"placeholder="在此输入CID" /> <button class="btn" type="submit"><%= link_to conque_car_index_path do %>查找<% end %></button>
			</form>
			 <div class="panel-body">
          <%= render "shared/listM" %>
        </div>

</div>
			</div>
		
	</div>
