<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-search">
				<input class="input-medium search-query" type="text"placeholder="在此输入CID" /> <button class="btn" type="submit"><%= link_to searchmore_car_index_path do %>查找<% end %></button>
			</form>
			
				<div align="center">
			<ul class="pagination" align="center">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
</div>
			</div>
		
	</div>
</div>