<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-inline">
				<fieldset>
				
					 <legend>添加新的车型</legend> 
					 
					 <div class="form-group">
                        <i class="fa fa-user fa-lg"></i>
                        <input class="form-control required" type="text" placeholder="UserId" id="username" name="username" autofocus="autofocus" maxlength="20"/>
                    </div>
                     <div class="form-group">
                        <i class="fa fa-user fa-lg"></i>
                        <input class="form-control required" type="text" placeholder="UserName" id="username" name="username" autofocus="autofocus" maxlength="20"/>
                    </div>
                    
                    <div class="form-group">
                        <i class="fa fa-key fa-lg"></i>
                        <input class="form-control required" type="text" placeholder="CarId" id="username" name="username" autofocus="autofocus" maxlength="20"/>
                    </div>
                      <div class="form-group">
                        <i class="fa fa-key fa-lg"></i>
                        <input class="form-control required" type="text" placeholder="Car_name" id="username" name="username" autofocus="autofocus" maxlength="20"/>
                    </div>
                  </br>
                  
				
				</fieldset></br></br>
				<button class="btn btn-large btn-block btn-primary" type="submit" name="submit">添加</button>
			</form>
		</div>
	</div>
</div>